
.works_img{
    height: 100%;
    width: 246px;
    border-radius: 6px;
}

.works_item{
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    gap: 18px;
}

.works_info{
    margin-top: -35px;
}

.works_title{
    font-weight: 700;
    font-size: 30px;
}
a{
    text-decoration: none;
}

.works_year{
    padding: 3px 10px;
    height: 25px;
    font-weight: 900;
    font-size: 19px;
    background: #142850;
    color: white;
    border-radius: 16px;
}

p{
    color: #8695A4;
}

.works_discription{
    margin-top: -35px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.works_text{
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
}

@media (max-width: 800px){
    .works_item{
        flex-direction: column;
    }

    .works_img{
        width: 100%;
    }
}